@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    src: local('Montserrat'), url('../../assets/fonts/Montserrat-Bold.woff') format('woff');
	font-display: swap;
}

@font-face {
    font-family: 'Mulish Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Mulish Regular'), url('../../assets/fonts/Mulish-Regular.woff') format('woff');
	font-display: swap;
}

@font-face {
    font-family: 'Mulish SemiBold';
    font-style: normal;
    font-weight: normal;
    src: local('Mulish SemiBold'), url('../../assets/fonts/Mulish-SemiBold.woff') format('woff');
	font-display: swap;
}

@font-face {
    font-family: 'Mulish Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Mulish Bold'), url('../../assets/fonts/Mulish-Bold.woff') format('woff');
	font-display: swap;
}